p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
}



.hidden {
  display: none;
}


button {
  cursor: pointer;
}


body {
  font-family:  Helvetica;
  margin: 0px;
  background-color: #cfd9e9;
}

.block_scroll {
  /* overflow: hidden; */
}

a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
} 


