:root {
    --accent-color: #D7C6A8;
    --text-color: #808080;
    /* --margin-img: 30px;
    --margin-text: 10px;
    --margin-calc: 30px;
    --attenuation-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-time: 250ms; */
  }

/* div {
    outline: 1px solid tomato;
    background-color: rgb(253, 255, 240);
} */

header {
    background-color: white;
    position: fixed;  /* Фіксоване положення, щоб хедер залишався на верху при прокручуванні */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}


.label_hedaer {
    padding: 10px;
    margin: 50px 0px 0px 0px;
    display: flex; /* flexbox для вирівнювання елементів */
    align-items: center; /* Вирівнювання елементів по вертикалі */
    justify-content: center;
}

.name_label {
    color: var(--accent-color);
    display: flex; /* flexbox для вирівнювання тексту і іконки */
    align-items: center; /* Вирівнювання тексту та іконки по вертикалі */
    text-decoration: none; /* Прибираємо підкреслення з посилання */
    font-size: 40px;
    font-weight: 700;
    margin-left: 25px;
}

.name_label svg {
    margin-left: 15px; /*  Відступ між текстом і іконкою */
}

.header_msg {
    padding: 10px;
    margin: 20px 0px 10px 0px;
    display: flex;
    justify-content: center;
}
.header_msg p {
    width: 250px;
    text-align: center;
    color: var(--text-color);
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
}