:root {
    --accent-color: #D7C6A8;
    --text-color: #aaaaaa;
    --text-color2: #ffffff;
    --burron-color: #1596ff;
    --margin-calc: 40px;
  }


/*  HEADER */

header {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header_container {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 15px;
    justify-items: center;
    height: 130px;
    
}

.label_header {
    padding: 10px;
    display: flex; /* flexbox для вирівнювання елементів */
    align-items: center; /* Вирівнювання елементів по вертикалі */
    justify-content: center;
}

.name_label {
    color: var(--accent-color);
    display: flex; /* flexbox для вирівнювання тексту і іконки */
    align-items: center; /* Вирівнювання тексту та іконки по вертикалі */
    text-decoration: none; /* Прибираємо підкреслення з посилання */
    font-size: 34px;
    font-weight: 700;
    margin-left: 25px;
}

.name_label svg {
    margin-left: 15px; /*  Відступ між текстом і іконкою */
}

.header_msg {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_title {
    width: 250px;
    text-align: center;
    color: var(--text-color);
    font-size: 26px;
    font-weight: 600;
}

/*  SECTIONS */
section {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    top: 130px;
    z-index: 0;
}

.container {
    max-width: 500px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/*  TRAINING SECTION */
#train_list{

}

.trainList  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trainItems {
    border-radius: 0px 0px 15px 15px;
    background-color: #ffffff;
    flex-basis: calc(100% / 2 - var(--margin-calc));
    margin: 10px;
}

.btnContain {
    height: 85px;
    align-content: center;
    justify-items: center;
}
.demoImg{
    display: block;
    max-width: 100%;
    height: auto;
    align-items: center; 
}


/*  GAVE AREA SECTION */
#game_area{

}
.name_button {
    width: 130px;
    font-weight: 600;
    font-size: 20px;
}

.cardWord {
    display: block;
    justify-items: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

.cardIcon{
    display: block;
    justify-items: center;
    margin-top: 20px;
    /* margin-bottom: 40px; */
    animation: scaleUpDown 2s ease-in-out infinite;
}

@keyframes scaleUpDown {
    0% {
      transform: scale(1); /* Початковий розмір */
    }
    50% {
      transform: scale(1.03); /* Збільшення на 20% */
    }
    100% {
      transform: scale(1); /* Повернення до початкового розміру */
    }
  }

.cardBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#word {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 0.05em;
}

#translation {
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}

.cardStyles{
    height: 400px;
    width: 300px;
    padding: 20px 20px 30px 20px;
    border-radius: 15px;
    background-color: #ffffff;
    display: block;
    justify-items: center;
    text-align: center;
}

.cardTitle{
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
}


/*  RESULT MENU SECTION */
#result_menu{

}


  #sets {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
  }


/*  BOTTOM MENU SECTION */
#bottom_menu {
    padding-bottom: 100px;
    /* display: flex; */

}

/*  BUTTONS */
.set_button, .item_modes{
    height: 40px;
    width: 120px;
    margin: 10px 15px 10px 15px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Це для тексту в середині елемента */
    background-color: var(--burron-color);
    color: var(--text-color2);
    font-size: 16px;
    font-weight: 600;
    }

.sound_button {
    background-color: var(--burron-color);
    height: 50px;
    width: 50px;
    padding: 10px;
    margin: 10px 30px 10px 20px;
    border-radius: 100px;
}

.sound_icon{
    width: 50px;
    height: 50px;
}
    
.memory_icon {
    width: 250px;
    height: 250px;
    fill: rgb(13, 190, 0);
}

#backToSets, #backToTrainList {
    background-color: rgb(81, 86, 165);
    height: 50px;
    width: 140px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Це для тексту в середині елемента */
    color: var(--text-color2);
    font-size: 16px;
    font-weight: 500;
}

#backToTrainList {
    display: none;
}




/* MODAL WINDOW */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

#backdrop {
    pointer-events: none;
}

.modal {
    display: none; /* За замовчуванням приховано */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(238, 238, 238);
    padding: 15px;
    border-radius: 15px;
    z-index: 101;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 500px;
    z-index: 1000;
}

.modal_btn {
    width: 100px;
    height: 40px;
    padding: 5px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.05em;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_btn_container{
display: flex;
justify-content: space-between;
margin: 15px;
}

/* Стиль для кнопки закриття модалки*/
.close_btn {
    left: 30px;
    background-color: rgb(202, 93, 74);
    color: #ffffff;
}

.start_btn {
    right: 30px;
    background-color: var(--burron-color);
    color: #ffffff;
}

/* Стиль для контенту в модальному вікні */
.modal-content {
    padding: 25px 0px 0px 0px;
    background-color: #ffffff;
    border-radius: 10px;
}

#modalWordList{
    padding: 15px 10px 15px 10px;
}

#modalTitle {
    
    margin-left: 20px;
    color: var(--text-color);
    font-size: 26px;
    font-weight: 600;
}

.resultMsg{
    color: var(--text-color);
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 15px;
}

.list_item {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list_item div {
    display: block;
    width: 125px;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    text-align: center;
    
}












































































